<!DOCTYPE html>
<html lang="en">
    $partial("templates/head.html")$
    <body>
        <header>
            <div class="logo">
                <a href="/">My Hakyll Blog</a>
            </div>
            <nav>
                <a href="/">Home</a>
                <a href="/about.html">About</a>
                <a href="/contact.html">Contact</a>
                <a href="/archive.html">Archive</a>
            </nav>
        </header>

        <main role="main">
            <h1>$title$</h1>
            $body$
        </main>

        $partial("templates/footer.html")$
    </body>
</html>
