<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

  $partial("templates/head.html")$

  <body>

    <div id="main">
      <div id="header">
        <a href="/">
          <!-- <img src="/images/lambda.png" alt="lambda" /> -->
          Futtetennismo
        </a>
      </div>

      <!-- Sidebar. -->
      <div id="sidebar">
        <!-- <h1>Navigation</h1> -->
        <a href="/index.html">home</a>
        <a href="/about.html">about</a>
        <a href="/yours-truly.html">yours truly</a>
      </div>

      <div id="content">
        $body$
      </div>

      $partial("templates/footer.html")$
    </div>

  </body>

</html>
